/* less empty spaces on mobile */
html[lang="de"]{
    @media(--below_small){
    hyphens: auto;
    }
}


body{
  font-size: var(--size-step-0);
  color: var(--color-nebula-950);
  overflow-x: hidden;
  background: var(--color-nebula-50);
}


p{
  line-height: 1.4;
  max-width: 52ch;
}


